body{
	background-color: rgb(60, 179, 113);
    color: brown;
    font-family: Courier New;
	box-shadow: 0 0 1000px 	white; 
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
   
}
header{
	  text-align:center; 
	padding-top: 30px;
}
figure{
	
	color: white;
	text-align: center;
}

main{
	color: black;
	border-style: solid;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left:60px;
	margin-right:60px;
	padding: 20px;
	

}
h1 {
	color: black;
	text-align: center;
	font-size:32px;
}
img:hover{
        opacity: 0.8;
		
    }
img{}



ul{


}


li{


}
p{

}
p.thick {
    font-weight: bold;
}
footer
{
	text-align: center;
	padding: 20px;
}

a{
	color: blue;
}
a:link {
    color: gold;
}


a:visited {
    color: white;
}


a:hover {
    color: black;
}


a:active {
    color: blue;
}